<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>188222682231-ggkfmfbdbc6aibstk2btmc4atuo6s5j6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.188222682231-ggkfmfbdbc6aibstk2btmc4atuo6s5j6</string>
	<key>API_KEY</key>
	<string>AIzaSyD3vmwiOo8YVrpKjZ5eJ7pVk4g0SYxCI4o</string>
	<key>GCM_SENDER_ID</key>
	<string>188222682231</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nextazy.chatapp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-63f7b</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-63f7b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:188222682231:ios:fd3c291baa3a250aac8272</string>
	<key>DATABASE_URL</key>
	<string>https://chatapp-63f7b-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>